/*********************************************************
  TITLE
*********************************************************/
/* ********** START: Subtitle ********** */
/* ********** END: Subtitle ********** */
/*********************************************************
  GENERAL STYLES
*********************************************************/
/* START: Main */
html {
    color: #222;
    font-size: 16px;
    line-height: 1.45;
    height: 100%;
}
body {
  background-color: #fff;
  font-family: 'Arimo', 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #333;
  min-height: 100%;
}
/* END: Main */
/* START: Typoghraphy */
p {
  margin-bottom: 1.3em;
}
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}
h1 {
  margin-top: 0;
  font-size: 3.157rem;
}
h2 {font-size: 2.369rem;}
h3 {font-size: 1.777rem;}
h4 {font-size: 1.333rem;}
small {
  font-size: 80%;
}
::-moz-selection {
    background: #ff599a;
    text-shadow: none;
}
::selection {
    background: #ff599a;
    text-shadow: none;
}
hr {
    box-sizing: content-box;
    height: 0;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* END: Typoghraphy */
/* ********** START: Media ********** */
img {
  display: block;
  border: 0;
  max-width: 100%;
  margin: 0 auto;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/* ********** END: Media **********
/* ********** START: Form Elements ********** */
textarea {
  resize: vertical;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/* ********** END: Form Elements ********** */













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
